.MiniGrid{
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    width: 124.27px;
    height: 109.9px;
    border-radius: 8px;
}
.miniContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.iconConatiner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    background-color: #ffff;
    box-shadow: 20px 25px 70px 0px #F9DAD5CC;
    width: 60px;
    height: 60px;
}
.txt{
    font-size: 18px;
    font-weight: 700;
}